header {
	background-color: var(--element-bg);
	display: flex;
	justify-content: space-between;
	padding-top: 28px;
	padding-bottom: 28px;
	width: 100%;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

button {
	border: none;
	background-color: inherit;
	color: inherit;
	cursor: pointer;
	outline: none;
}

button svg {
	margin-right: 10px;
}