.searchbox-container {
	padding: 18px 30px;
	background-color: var(--element-bg);
	border-radius: 4px;
	width: 40%;
	display: flex;
	position: relative;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.searchbox-container svg {
	margin-right: 23px;
}

.searchbox-container input {
	border: none;
	background-color: transparent;
	color: var(--text);
	font-family: inherit;
	width: 100%;
}

.searchbox-container input:focus {
	outline: none;
}

.searchbox-container input:focus + .search-result {
	display: block;
}

.search-result {
	position: absolute;
	display: none;
	z-index: 30;
	left: 0;
	top: 115%;
	background-color: var(--element-bg);
	width: 100%;
	max-height: 350px;
	overflow-y: hidden;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.search-result:hover {
	display: block;
	overflow-y: scroll;
}

@media screen and (max-width: 1000px) {
	.searchbox-container {
		width: 50%;
	}
}

@media screen and (max-width: 375px) {
	.searchbox-container {
		width: 100%;
		margin-bottom: 40px;
	}
}