.input-container {
	margin: 0 0 45px 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

@media screen and (max-width: 750px) {
	.input-container {
		justify-content: flex-start;
		flex-direction: column;
	}
}