.select-container, .option-container {
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.select-container {
	display: inline-block;
	position: relative;
	cursor: pointer;
	padding: 18px 18px 18px 24px;
	background-color: var(--element-bg);
}

.select-input {
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.select-current-value {
	display: inline-block;
	font-size: 13px;
	width: 146px;
}

.select-input svg {
	stroke: var(--text);
}

.option-container {
	background-color: var(--element-bg);
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 0;
	top: calc(100% + 10px);
	width: 100%;
	z-index: 1;
}

.select-option {
	cursor: pointer;
	padding: 11px 24px;
}

.select-option:hover {
	background-color: #99CCF4;
}

@media screen and (max-width: 375px) {
	.select-container {
		width: 50%;
	}
}