[theme="dark"] {
	--background: hsl(207, 26%, 17%);
	--element-bg: hsl(209, 23%, 22%);
	--text: hsl(0, 0%, 100%);
}

[theme="light"] {
	--background: hsl(0, 0%, 98%);
	--element-bg: hsl(0, 0%, 95%);
	--text: hsl(200, 15%, 8%);
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;  -webkit-font-smoothing: antialiased;
  background-color: var(--background);
}

h1 {
	font-size: 20px;
}

#root {
	color: var(--text);
}

ul {
	list-style-type: none;
	padding: 0;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: var(--text);
}

header, main {
	padding: 0 80px;
}

main {
	padding-top: 30px;
}